# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [5]:
number = 6

print(number)

6

##### Assinging float

In [6]:
number_float = 2.3

print(number_float)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [2]:
num1 = 2
num2 = 5.4
result = num1 + num2
print(result)

# shorthand +=
result += 2
print (result)

7.4
9.4

##### Subtraction

In [4]:
result_diff = num2 - num1
print(result_diff)

# shorthand -=
result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [6]:
result_mul = num1*num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [9]:
result_div = num2 / num1
print(result_div)

result_div /=2
print(result_div)

2.7
1.35

##### Floor Division

In [11]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [13]:
result_mod = num2 % num1
print(result_mod)

result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [17]:
square = 5**2
print(square)

square **=2
print(square)

25
625

### String Input-Output

##### String Assignment

In [2]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [21]:
print("Full Name: ",name, end = "Carter")

Full Name:  JoelCarter

##### String Concatenation

In [23]:
first_name = "John"
last_name = "Smith"
full_name = first_name + " " + last_name
print(full_name)

full_name += "Jr"
print(full_name)

John Smith
John SmithJr

##### Type Conversion

In [28]:
number = "32"

change_type_num = int(number)
print(change_type_num + 2)
print(int(number)+2)

34
34

##### input()

In [30]:
age = int(input("What is your age: "))
add_age = age + 1
print(add_age)

What is your age: 34
35

##### format()

In [5]:
age = input("What is your age?: ")
result_string = "you are {} {} and you are getting wiser".format(age,name)
print(result_string)
result_again = f"{age} us a great time in life!!!"
print(result_again)

What is your age?: 35
you are 35 Joel and you are getting wiser
35 us a great time in life!!!

##### Old Way (python 2)

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [10]:
color = input("What color is your car?: ")
year = input("What year is it?: ")
model = input("What model is your car?: ")

print ("You drive a {} {} {}".format(year, color.title(), model.title()))
print (f"You drive a {color} {year} {model}")

What color is your car?: 2015
What year is it?: silver
What model is your car?: forester
You drive a silver 2015 Forester
You drive a 2015 silver forester

### If Statements

In [15]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num1 == num2:
    print("Equal Values")
else:
    print(f"{num1} and {num2} are Not equal")
    
if num2 >= num1:
    print ("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

5 and 10 are Not equal
Num2 is greater
Num1 is less than

##### 'is' keyword

In [25]:
#use the is keyword when checking for same/similar object(s), NOT ALWAYS the same value

num3 = 55

    
if type(num3) is int:
    print("is an int")
else:
    print("not an int")

is an int

##### 'in' keyword

In [32]:
char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")
else:
    print("Never heard of that guy!")

The character who lost everything...

##### 'not in' keyword'

In [33]:
sega_char = "Sonic"

if "a" not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [38]:
p_word = input("Give me a word or phrase: ")

if "p" in p_word.lower():
    print("We found the P!!!!!!")
else:
    print("No p in sight")

Give me a word or phrase: This is a long string with p towards the end
We found the P!!!!!!

## Using 'and'/'or' with If Statements

In [40]:
num_4 = 15
num_5 = 3
num_6 = 10
num_7 = 3


if num_4/5 == num_5 and num_6 -7 == num_7:
    print("True AND True")
    

if num_4 > num_5 or num_6 == num_7:
    print("True or False")

True AND True
True or False

### Elif Statements

In [42]:
first_name = "Max"
if first_name == "Smith":
    print("The name is Smith")
elif first_name != "Max":
    print("the name is not Max")
else:
    print("the name is max")

the name is max

### Else Statements

In [ ]:
# see above

### For Loops

In [46]:
#for keyword, counter, in keyword, condition

#for i in range (10):
#    print(i)

name = "Joel Carter"
for char in name:
    print (char)
    
#verbose version

for letter in range(len(name)):
    print(name[letter])

J
o
e
l

C
a
r
t
e
r
J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [47]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [48]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # TODO: Come and finish

##### Double For Loops

In [61]:
for minute in range(2):
    for second in range(60):
        print("minute = ",minute, "seconds = ",second)

minute =  0 seconds =  0
minute =  0 seconds =  1
minute =  0 seconds =  2
minute =  0 seconds =  3
minute =  0 seconds =  4
minute =  0 seconds =  5
minute =  0 seconds =  6
minute =  0 seconds =  7
minute =  0 seconds =  8
minute =  0 seconds =  9
minute =  0 seconds =  10
minute =  0 seconds =  11
minute =  0 seconds =  12
minute =  0 seconds =  13
minute =  0 seconds =  14
minute =  0 seconds =  15
minute =  0 seconds =  16
minute =  0 seconds =  17
minute =  0 seconds =  18
minute =  0 seconds =  19
minute =  0 seconds =  20
minute =  0 seconds =  21
minute =  0 seconds =  22
minute =  0 seconds =  23
minute =  0 seconds =  24
minute =  0 seconds =  25
minute =  0 seconds =  26
minute =  0 seconds =  27
minute =  0 seconds =  28
minute =  0 seconds =  29
minute =  0 seconds =  30
minute =  0 seconds =  31
minute =  0 seconds =  32
minute =  0 seconds =  33
minute =  0 seconds =  34
minute =  0 seconds =  35
minute =  0 seconds =  36
minute =  0 seconds =  37
minute =  0 seconds =  38
minute =  0 seconds =  39
minute =  0 seconds =  40
minute =  0 seconds =  41
minute =  0 seconds =  42
minute =  0 seconds =  43
minute =  0 seconds =  44
minute =  0 seconds =  45
minute =  0 seconds =  46
minute =  0 seconds =  47
minute =  0 seconds =  48
minute =  0 seconds =  49
minute =  0 seconds =  50
minute =  0 seconds =  51
minute =  0 seconds =  52
minute =  0 seconds =  53
minute =  0 seconds =  54
minute =  0 seconds =  55
minute =  0 seconds =  56
minute =  0 seconds =  57
minute =  0 seconds =  58
minute =  0 seconds =  59
minute =  1 seconds =  0
minute =  1 seconds =  1
minute =  1 seconds =  2
minute =  1 seconds =  3
minute =  1 seconds =  4
minute =  1 seconds =  5
minute =  1 seconds =  6
minute =  1 seconds =  7
minute =  1 seconds =  8
minute =  1 seconds =  9
minute =  1 seconds =  10
minute =  1 seconds =  11
minute =  1 seconds =  12
minute =  1 seconds =  13
minute =  1 seconds =  14
minute =  1 seconds =  15
minute =  1 seconds =  16
minute =  1 seconds =  17
minute =  1 seconds =  18
minute =  1 seconds =  19
minute =  1 seconds =  20
minute =  1 seconds =  21
minute =  1 seconds =  22
minute =  1 seconds =  23
minute =  1 seconds =  24
minute =  1 seconds =  25
minute =  1 seconds =  26
minute =  1 seconds =  27
minute =  1 seconds =  28
minute =  1 seconds =  29
minute =  1 seconds =  30
minute =  1 seconds =  31
minute =  1 seconds =  32
minute =  1 seconds =  33
minute =  1 seconds =  34
minute =  1 seconds =  35
minute =  1 seconds =  36
minute =  1 seconds =  37
minute =  1 seconds =  38
minute =  1 seconds =  39
minute =  1 seconds =  40
minute =  1 seconds =  41
minute =  1 seconds =  42
minute =  1 seconds =  43
minute =  1 seconds =  44
minute =  1 seconds =  45
minute =  1 seconds =  46
minute =  1 seconds =  47
minute =  1 seconds =  48
minute =  1 seconds =  49
minute =  1 seconds =  50
minute =  1 seconds =  51
minute =  1 seconds =  52
minute =  1 seconds =  53
minute =  1 seconds =  54
minute =  1 seconds =  55
minute =  1 seconds =  56
minute =  1 seconds =  57
minute =  1 seconds =  58
minute =  1 seconds =  59

### While Loops

In [63]:
#based on condition, we start or never start the while loop

num=0
while num <10:
    print(num)
    num +=1

9

##### Looping 'While True'

In [67]:
game_over = False

while True:
    print ("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

##### While & For Loops Used Together

In [70]:
num = 0
while num < 5:
    print("\n While Loop Iteration: "+str(num))
    
    for i in range(2):
        print("For loop Iteration", str(i))
        
    num+=1

 While Loop Iteration: 0
For loop Iteration 0
For loop Iteration 1

 While Loop Iteration: 1
For loop Iteration 0
For loop Iteration 1

 While Loop Iteration: 2
For loop Iteration 0
For loop Iteration 1

 While Loop Iteration: 3
For loop Iteration 0
For loop Iteration 1

 While Loop Iteration: 4
For loop Iteration 0
For loop Iteration 1

### Built-In Functions

##### range()

In [71]:
for i in range (2,20,2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [72]:
char_name = "Max"

length = len(char_name)
print(length)

3

##### help()

In [78]:
help(isinstance)

Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

##### isinstance()

In [75]:
if isinstance(4,int):
    print("Ths number is a float type")

Ths number is a float type

##### abs()

In [79]:
print(abs(-5))

5

### Try and Except

In [84]:
try:
    number_test = 0
    input_num = int(input("Guess a number"))
    if input_num != number_test:
        input_num = input_num + number_test
        print("Your number is: "+ str(input_num))
except:
    print("That doesnt work -----EEROR: Change your input to a real number/interger"
         )

Guess a numberd
That doesnt work -----EEROR: Change your input to a real number/interger

### Lists

##### Declaring Lists

In [100]:
names = ["Max","Cindy","Bob","Nate"]
print(names)

for name in names[:-0]:
    print(name)

['Max', 'Cindy', 'Bob', 'Nate']

##### Indexing a List

In [136]:
#### single
print(names[0])
#range
print(names[1:3])
#until end index
print(names[:3])

#from index to end
print(names[2:])

#print starting at 1 going up by 2
print(names[0::2])

#reverse list
print(names)

print(names[::-1])

#reverse list
print(names[2::-1])

Max
['Cindy', 'Bob']
['Max', 'Cindy', 'Bob']
['Bob', 'Gabby', 'Gabby', 'Nate', 'Joel']
['Max', 'Bob', 'Gabby', 'Joel']
['Max', 'Cindy', 'Bob', 'Gabby', 'Gabby', 'Nate', 'Joel']
['Joel', 'Nate', 'Gabby', 'Gabby', 'Bob', 'Cindy', 'Max']
['Bob', 'Cindy', 'Max']

##### .append()

In [133]:
names.append('Joel')
print(names)

['Max', 'Cindy', 'Bob', 'Nate', 'Joel']

##### .insert()

In [162]:
names.insert(3,"Gabby")
print(names)

['Max', 'Cindy', 'Bob', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Gabby', 'Nate']

##### .pop()

In [145]:
my_name = names.pop()

print(my_name)

Joel


##### .remove()

In [166]:
while "Gabby" in names:
    names.remove("Gabby")
print(names)

['Max', 'Cindy', 'Bob', 'Nate']

##### del()

In [167]:
print(names)
del(names[-1])
print (names)

['Max', 'Cindy', 'Bob', 'Nate']
['Max', 'Cindy', 'Bob']

##### Concatenating Two Lists

In [171]:
names+names
print(names)

l_2 = [0,1,2]
l_3 = [3,4,5]
l_4 = l_2+l_3
print(l_4)
print(l_2+l_3+l_4)

['Max', 'Cindy', 'Bob']
[0, 1, 2, 3, 4, 5]
[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [180]:
names = ["Max","Sam","Josh",['Sally','Sue',"Steph"]]
print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Steph']]
Sue

##### Looping Through Lists

In [202]:
for i in range(len(names)):
    if i !=3:
        print(names[i])
    if i ==3:
        for j in range(len(names[i])):
            print(names[i][j])

Max
Sam
Josh
Sally
Sue
Steph

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [220]:
i = 1
while i > 0:
    cube = i**3
    if cube > 1000:
        break
    i+=1
    print(cube)

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [7]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break

s_num = 4
b_div = 2
while s_num < 100:
    if s_num % b_div == 0:
        print("not prime")
        b_div += 1
    else:
        print(s_num)
        s_num+=1
        
for num in range(101):
    if num > 0:
        for j in range(2, num):
            if (num % j) == 0:
                break
        else:
            print(num)

not prime
4
5
not prime
6
7
not prime
8
9
not prime
10
11
not prime
12
13
not prime
14
15
not prime
16
17
not prime
18
19
not prime
20
21
not prime
22
23
not prime
24
25
not prime
26
27
not prime
28
29
not prime
30
31
not prime
32
33
not prime
34
35
not prime
36
37
not prime
38
39
not prime
40
41
not prime
42
43
not prime
44
45
not prime
46
47
not prime
48
49
not prime
50
51
not prime
52
53
not prime
54
55
not prime
56
57
not prime
58
59
not prime
60
61
not prime
62
63
not prime
64
65
not prime
66
67
not prime
68
69
not prime
70
71
not prime
72
73
not prime
74
75
not prime
76
77
not prime
78
79
not prime
80
81
not prime
82
83
not prime
84
85
not prime
86
87
not prime
88
89
not prime
90
91
not prime
92
93
not prime
94
95
not prime
96
97
not prime
98
99
1
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [226]:
age = int(input("Please tell me your age: "))
if age < 18:
    print("Kids")
elif age >= 18 and age <= 65:
    print("Adults")
else:
    print("Seniors")

Please tell me your age: 67
Seniors